<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty scope="context" name="appname" source="spring.application.name"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='isDefined("LOGSTASH_DESTINATION")'>
        <then>
            <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${LOGSTASH_DESTINATION}</destination>
                <destination>localhost:5000</destination>
                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <mdc/>
                        <context/>
                        <logLevel/>
                        <loggerName/>
                        <pattern>
                            <pattern>
                                {
                                "app": "${appname}"
                                }
                            </pattern>
                        </pattern>
                        <threadName/>
                        <message/>
                        <logstashMarkers/>
                        <stackTrace/>
                    </providers>
                </encoder>
            </appender>
            <root level="info">
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="LOGSTASH"/>
            </root>
        </then>
        <else>
            <root level="info">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>
</configuration>